<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>post</title>
</head>
<body>

    {% for Post in post %}
       	<figure>
       		 <img class="img-post" src="{{ MEDIA_URL }}{{ Post.img }}">
       	</figure>
        <section class="content">
        	<h2>{{ Post.title }}</h2>
	       	<h3> {{ Post.created }}</h3>	        
          <p>{{ Post.content }}</p>
          <a class="button" href="/blog"> Regresar </a>
        </section>        
    {% endfor %}


</body>
</html>